<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head') -%>  
    </head>
    <body>  
      <%- include('../partials/form') -%>   
      <%- include('../partials/MyProfile') -%> 
      <%- include('../partials/footer') -%>  
      </body>
</html>